.container{
    background:white;
}

.checkout-box {
    padding: 48px 0 0;
    background-color: #fff;
}

.section {
    margin-left: 48px;
    margin-right: 48px;
}

.section-address .section-header {
    margin-bottom: 20px;
}

.section .section-header .title {
    float: left;
    color: #333;
    font-size: 18px;
    line-height: 20px;
    font-weight: normal;
}

.checkout-box ul, .checkout-box li, .checkout-box p, .checkout-box h2, .checkout-box h3 {
    margin: 0;
    padding: 0;
}

.section .section-header .more {
    clear:both;
    float: right;
    line-height: 20px;
}

.section-address .section-body {
    margin-left: -18px;
}

.section-address .address-item {
    float: left;
    margin-left: 17px;
    margin-bottom: 24px;
}

.address-item {
    width: 268px;
    height: 178px;
    border: 1px solid #e0e0e0;
    cursor: pointer;
    position: relative;
    transition: all .4s ease;
}


