.page-main {
 padding:38px 0
}
.buy-succ-box {
 margin-bottom:26px;
 padding:0 0 28px 0;
 height:68px;
 border-bottom:1px solid #e0e0e0
}
.buy-succ-box .goods-content {
 float:left
}
.buy-succ-box .goods-img {
 float:left;
 width:64px;
 height:64px
}
.buy-succ-box .goods-info {
 float:left;
 margin-left:20px
}
.buy-succ-box .goods-info h3 {
 margin:0;
 color:#424242;
 font-size:24px;
 font-weight:normal;
 margin-top:3px
}
.buy-succ-box .goods-info .name,.buy-succ-box .goods-info .price {
 margin-right:15px;
 font-size:14px;
 color:#757575
}
.buy-succ-box .actions {
 float:right
}
.buy-succ-box .actions .btn {
 width:180px;
 margin-left:12px;
 margin-top:5px
}
.buy-succ-box .actions .btn-line-gray {
 background:none
}
.buy-succ-box .actions .btn-line-gray:hover {
 background:#fff;
 color:#757575
}
.buy-succ-box .actions p {
 text-align:right;
 color:red;
 margin:0;
 font-size:12px
}
.buy-succ-box .actions .hide {
 display:none
}
.buy-succ-recommend {
 margin-bottom:26px
}
.xm-recommend-title {
 border-top:none;
 height:auto
}
.xm-recommend-title span {
 position:static;
 margin-bottom:20px;
 width:100%;
 height:auto
}
