body{
    font: 14px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
    color: #333;
}

.page-main{
    background: #f5f5f5;
    padding-top: 38px;
    padding-bottom: 38px;
}

.container{
    width: 1226px;
    margin-right: auto;
    margin-left: auto;
}

.cart-empty {
    height: 273px;
    padding-left: 558px;
    margin: 65px 0 130px;
    background: url("../../images/home/cart-empty.png") no-repeat 124px 0;
    color: #b0b0b0;
    overflow: hidden;
    _zoom: 1;
}

.cart-empty-nologin h2 {
    margin-top: 50px;
    margin-bottom: 0;
}

.cart-empty h2 {
    margin: 70px 0 15px;
    font-size: 36px;
}

.cart-empty-nologin .login-desc {
    display: block;
}

.cart-empty .login-desc {
    margin: 0 0 20px;
    font-size: 20px;
    color: #b0b0b0;
}

.cart-empty-nologin .btn-login {
    display: inline-block;
    margin-right: 10px;
}

.cart-empty .btn {
    width: 170px;
    height: 48px;
    line-height: 48px;
}

.btn-primary {
    background: #ff6700;
    border-color: #ff6700;
    color: #fff;
}

.btn {
    padding: 0;
    margin: 0;
    border: 1px solid #b0b0b0;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    transition: all .4s;
}

a {
    text-decoration: none;
}

.cart-empty-nologin .btn-shoping {
    background-color: #f5f5f5;
    color: #ff6700;
}

.btn-primary {
    border-color: #ff6700;
}





