.div{
    width: 16.5%;
    height: 105px;
    float: left;

}

.title {
    margin-left: 10px;
    margin-top: 15px;
    margin-right: 10px;
}

.price{
    width:35%;
    height: 83px;
    float: left;
    text-align: center;
    border-radius: 5px 0px 0px 5px;
    color: white;

}

.content{
    width: 55%;
    height: 83px;
    float: left;
    text-align: center;
    background-color: white;
    border-radius: 0px 5px 5px 0px;

}

.h1{
    margin: 2px;
    height: 45px;
    font-size: 30px;
    color: #c2c2c2;
}
.p{
    height: 45px;
    font-size: 15px;
    color: #c2c2c2;

}

.i{
    font-size: 45px;
}

.left{
    width: 48%;
    float: left;
    margin-left: 10px;
    background-color: white;
}
.right{
    width: 48%;
    float: left;
    margin-left: 20px;
    background-color: white;
}
.h2{
    background-color: white;
}