*{
    box-sizing: border-box;
}
.layui-elem-quote{
    color: #0ba4da !important;
    background-color: rgba(79, 192, 232, 0.11) !important;
    display: block;
    height: 100%;
    padding: 6px 9px;
    border-radius: 0px;
    position: relative;
    overflow: hidden;
}
.layui-elem-quote .title{
    white-space: nowrap;
    position: relative;
    cursor: pointer;
}
.layui-elem-quote .title i{
    font-size:20px;
    vertical-align: middle;
    margin-right: 6px;
}
.layui-elem-quote h4{
    display:inline-block;
    font-size:16px;
}
.layui-elem-quote ul{
    color: #748A8F;
    margin-left: 10px;
}
.layui-elem-quote ul li{
    line-height: 20px;
    padding-left: 16px;
    margin-bottom: 4px;
}
.btn-group{
    display:inline-block;
    float:left;
    margin-bottom:10px;
}
.btn-group button{
    height:30px;
}

div.order{
    display:inline-block;
    border:1px solid #e2e2e2;
    padding:0px;
    float:right;
    margin-bottom:10px;
}
div.order:hover,div.order:hover select{
    border-color: #009688;
}
div.order:hover span{
    background-color: #009688;
    border-color: #009688;
}
div.order select{
    height:31px;
    width:180px;
    border:0px;
    border-right:1px solid #e2e2e2;
    text-align:center;
}
div.order select[name='brand']{
    width:220px;
}
div.order  input{
    width:200px;
    height: 30px;
    border:0px;
    padding-left:10px;
    vertical-align: baseline;
}
div.order span{
    height: 32px;
    line-height: 32px;
    font-size: 12px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;:
    margin: 0px;
    background-color: #e2e2e2;
}
div.form-body {
    width: 95%;
    margin-left: 30px;
}
.layui-input:hover,
.layui-textarea:hover,
div.layui-upload-button:hover,
div.uploadFile:hover{
    border-color:#009688!important;
}
.layui-input:focus,.layui-textarea:focus{
    border-color:#009688;
}

div[id^='upload-div']{
    margin-left: 30px;
}
div[id^='upload-div'] ul li{
    float: left;
    text-align: center;
    cursor: pointer;
    border:1px solid #e2e2e2;
    margin:10px;
}
div[id^='upload-div'] ul li:hover{
    border-color: #009688;
}
div[id^='upload-div'] ul li img{
    width: 200px;
    height: 150px;
}
div.uploadFile{
    float:left;
    cursor: pointer;
    width:200px;
    height: 150px;
    border:1px solid #e2e2e2;
    text-align: center;
    padding-top:5%;
    margin:10px;
}
div.uploadFile i{
    font-size:50px;
    color: #333;
}
div.uploadFile:hover i{
    color: #009688;
}

div.upload-alert-box{
    width: 500px;
    height: 203px;
    position:relative;
    z-index: 100;
    cursor: pointer;
    overflow: hidden;
}
div.upload-alert-box input{
    width: 0px;
    height: 0px;
}
div.upload-alert-box .layui-upload-button{
    width:100%;
    height:100%;
}
div.upload-alert-box span{
    margin-top:70px;
}
div.images-list li{
    position:relative;
    z-index:30;
}

div.images-list li span{
    display:none;
    position:absolute;
    z-index:20;
    left:0;
    bottom:0px;
    width:100%;
    height:40px;
    line-height:40px;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius:2px;
    text-align: center;
    background: #283133;
    color: #009688;
}
div.images-list li:hover img{
    opacity:.5;
}
div.images-list li:hover span{
    display: inline-block;
}
span.layui-btn{
    display:inline-block;
    border-radius: 0;
}
textarea{
    font-size: 12px;
}
span.textarea-tips{
    color: #AAA;
    font-size: 12px;
    display: inline-block;
    margin-bottom: 10px;
}
span.textarea-tips:hover,textarea:hover+span.textarea-tips{
    color: #2CBCA3;
}
#brand_logo span.layui-upload-icon,#brand_logo span.layui-upload-icon i{
    color:#fff!important;
}
#brand_logo .layui-upload-button{
    background-color:#009688!important;
    color: #fff!important;
}
#brand_logo .layui-upload-button:hover input:hover{
    cursor: pointer;
}
.spec-table-box{
    width:60%;
    float:left;
}
.attr-table-box{
    width:40%;
    float:right;
}
#p-images-upload{
    width:200px;
    height: 150px;
    margin: 10px;
    cursor: pointer;
    float:left;
}
#p-images-upload input{
    border:0px!important;
}
#p-images-upload span{
    border:0px!important;
    width:100%;
    height:100%;
    padding-top: 50px;
    margin: 0px;
}
#p-images-upload span i{
    font-size: 50px;
    vertical-align: middle;
    margin-right:0px;
    color:#333;
}
#p-images-upload:hover span i{
    color:rgb(95, 184, 120);
}

#p-images-upload div.layui-box{
    width: 100%;
    height:100%;
}